# Building a Drug Response Report

For this notebook, you are going to focus on a single region in the genome, defined as chromosome 22, for all 2,504 samples in the Thousand Genomes dataset. As chromosome 22 was the first chromosome to be sequenced as part of the Human Genome Project, it is your first here as well. 

What small molecules/drugs are most likely to affect a subpopulation of individuals (ancestry, age, etc.) based on their genomic information?

In this query, assume that you have some phenotype data about your population. In this case, also assume that all samples sharing the pattern “NA12” are part of a specific demographic.

In this query, use sampleid as your predicate pushdown. The general steps are:

1. Filter by the samples in your subpopulation
2. Aggregate variant frequencies for the subpopulation-of-interest
3. Join on ClinVar dataset
4. Filter by variants that have been implicated in drug-response
5. Order by highest frequency variants

The raw clinvar data and a parquet version of chromosome 22 of 1000 genomes, partitioned by sample id, are in your data lake. You also have a VCF in your data lake for chromosome 22 of 1000 genomes.

### Import Dependencies

In [7]:
import boto3, os

s3 = boto3.resource('s3')
glue = boto3.client('glue')
cfn = boto3.client('cloudformation')

In [8]:
import sys
!{sys.executable} -m pip install PyAthena

Collecting PyAthena
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/9d/bd/18770ee307e9ad626e5d8e3b20fca88c4bc02e58867c326a3e0e4c6989cb/PyAthena-1.10.7-py2.py3-none-any.whl
Collecting tenacity>=4.1.0 (from PyAthena)
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/b5/05/ff089032442058bd3386f9cd991cd88ccac81dca1494d78751621ee35e62/tenacity-6.2.0-py2.py3-none-any.whl
Collecting future (from PyAthena)
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/45/0b/38b06fd9b92dc2b68d58b75f900e97884c45bedd2ff83203d933cf5851c9/future-0.18.2.tar.gz
Requirement already satisfied: boto3>=1.4.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from PyAthena) (1.12.39)
Requirement already satisfied: botocore>=1.5.52 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from PyAthena) (1.15.39)
Requirement already satisfied: six>=1.9.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from tenacity>=4.1.0->PyAthena) (1.11.0)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->PyAthena) (0.3.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->PyAthena) (0.9.4)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (2.7.3)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (1.23)
Requirement already satisfied: docutils<0.16,>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (0.14)
Building wheels for collected packages: future
  Running setup.py bdist_wheel for future ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/8b/99/a0/81daf51dcd359a9377b110a8a886b3895921802d2fc1b2397e
Successfully built future
Installing collected packages: tenacity, future, PyAthena
Successfully installed PyAthena-1.10.7 future-0.18.2 tenacity-6.2.0
Cache entry deserialization failed, entry ignored
You are using pip version 10.0.1, however version 20.2b1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [9]:
from pyathena import connect
import pandas as pd
from pyathena.util import as_pandas

### Define Variables

In [11]:
import jmespath

project_name = os.environ.get('RESOURCE_PREFIX')
database_name = project_name.lower()
work_group_name = project_name.lower()
print(project_name)
print(database_name)
print(work_group_name)

resources = cfn.describe_stacks(StackName='{0}-Pipeline'.format(project_name))
query = 'Stacks[].Outputs[?OutputKey==`DataLakeBucket`].OutputValue'
data_lake_bucket = path = jmespath.search(query, resources)[0][0]
print(data_lake_bucket)

GenomicsAnalysis
genomicsanalysis
genomicsanalysis
genomicsanalysis-pipeline-datalakebucket-9u83vew7ldmb

In [13]:
session = boto3.session.Session()
region = session.region_name
print(region)

us-west-2

### Create drug response result set

In [14]:
conn = connect(s3_staging_dir='s3://%s/results/drug_response' % data_lake_bucket, region_name=region)
cursor = conn.cursor(work_group=work_group_name)
cursor.execute(
        "SELECT"
        "    count(*)/cast(numsamples AS DOUBLE) AS genotypefrequency "
        "    ,cv.rsid "
        "    ,cv.phenotypelist "
        "    ,sv.chromosome "
        "    ,sv.startposition "
        "    ,sv.endposition "
        "    ,sv.referenceallele "
        "    ,sv.alternateallele "
        "    ,sv.genotype0 "
        "    ,sv.genotype1 "
        "FROM " + database_name + ".onekg_chr22_by_sample sv "
        "CROSS JOIN "
        "    (SELECT count(1) AS numsamples "
        "    FROM "
        "        (SELECT DISTINCT sampleid "
        "        FROM " + database_name + ".onekg_chr22_by_sample "
        "        WHERE sampleid LIKE 'NA12%')) "
        "JOIN " + database_name + ".clinvar cv "
        "ON sv.chromosome = cv.chromosome "
        "    AND sv.startposition = cv.start - 1 "
        "    AND sv.endposition = cv.stop "
        "    AND sv.referenceallele = cv.referenceallele "
        "    AND sv.alternateallele = cv.alternateallele "
        "WHERE assembly='GRCh37' "
        "    AND cv.clinicalsignificance LIKE '%response%' "
        "    AND sampleid LIKE 'NA12%' "
        "GROUP BY  sv.chromosome "
        "          ,sv.startposition "
        "          ,sv.endposition "
        "          ,sv.referenceallele "
        "          ,sv.alternateallele "
        "          ,sv.genotype0 "
        "          ,sv.genotype1 "
        "          ,cv.clinicalsignificance "
        "          ,cv.phenotypelist "
        "          ,cv.rsid "
        "          ,numsamples "
        "ORDER BY  genotypefrequency DESC LIMIT 50 ")

df = as_pandas(cursor)
df

,genotypefrequency,rsid,phenotypelist,chromosome,startposition,endposition,referenceallele,alternateallele,genotype0,genotype1
0,0.553846,4680,CATECHOL-O-METHYLTRANSFERASE POLYMORPHISM;meth...,22,19951270,19951271,G,A,0,1
1,0.507692,2298383,caffeine response - Toxicity/ADR,22,24825510,24825511,C,T,0,1
2,0.369231,3892097,"Debrisoquine, poor metabolism of;amitriptyline...",22,42524946,42524947,C,T,0,1
3,0.353846,2298383,caffeine response - Toxicity/ADR,22,24825510,24825511,C,T,1,1
4,0.292308,738409,"Fatty liver disease, nonalcoholic 1;Susceptibi...",22,44324726,44324727,C,G,0,1
5,0.276923,13306278,Selective serotonin reuptake inhibitors respon...,22,19929026,19929027,C,T,0,1
6,0.153846,4680,CATECHOL-O-METHYLTRANSFERASE POLYMORPHISM;meth...,22,19951270,19951271,G,A,1,1
7,0.046154,13306278,Selective serotonin reuptake inhibitors respon...,22,19929026,19929027,C,T,1,1
8,0.046154,738409,"Fatty liver disease, nonalcoholic 1;Susceptibi...",22,44324726,44324727,C,G,1,1
9,0.030769,3892097,"Debrisoquine, poor metabolism of;amitriptyline...",22,42524946,42524947,C,T,1,1

### Query annotation dataset

In [15]:
conn = connect(s3_staging_dir='s3://%s/results/annotation/clinvar' % data_lake_bucket,region_name=region)
cursor = conn.cursor(work_group=work_group_name)
cursor.execute('SELECT * FROM "%s"."clinvar" limit 10' % database_name)
df = as_pandas(cursor)
df

,alleleid,type,name,geneid,genesymbol,hgnc_id,clinicalsignificance,clinsigsimple,lastevaluated,rsid,...,referenceallele,alternateallele,cytogenetic,reviewstatus,numbersubmitters,guidelines,testedingtr,otherids,submittercategories,variationid
0,15041,indel,NM_014855.3(AP5Z1):c.80_83delinsTGCTGTAAACTGTA...,9907,AP5Z1,HGNC:22197,Pathogenic,1,"Jun 29, 2010",397704705,...,GGAT,TGCTGTAAACTGTAACTGTAAA,7p22.1,no assertion criteria provided,1,None,N,OMIM Allelic Variant:613653.0001,1,2
1,15041,indel,NM_014855.3(AP5Z1):c.80_83delinsTGCTGTAAACTGTA...,9907,AP5Z1,HGNC:22197,Pathogenic,1,"Jun 29, 2010",397704705,...,GGAT,TGCTGTAAACTGTAACTGTAAA,7p22.1,no assertion criteria provided,1,None,N,OMIM Allelic Variant:613653.0001,1,2
2,15042,deletion,NM_014855.3(AP5Z1):c.1413_1426del (p.Leu473fs),9907,AP5Z1,HGNC:22197,Pathogenic,1,"Jun 29, 2010",397704709,...,GGACCTGCCCTGCT,-,7p22.1,no assertion criteria provided,1,None,N,OMIM Allelic Variant:613653.0002,1,3
3,15042,deletion,NM_014855.3(AP5Z1):c.1413_1426del (p.Leu473fs),9907,AP5Z1,HGNC:22197,Pathogenic,1,"Jun 29, 2010",397704709,...,GGACCTGCCCTGCT,-,7p22.1,no assertion criteria provided,1,None,N,OMIM Allelic Variant:613653.0002,1,3
4,15043,single nucleotide variant,NM_014630.3(ZNF592):c.3136G>A (p.Gly1046Arg),9640,ZNF592,HGNC:28986,Uncertain significance,0,"Jun 29, 2015",150829393,...,G,A,15q25,no assertion criteria provided,1,None,N,"OMIM Allelic Variant:613624.0001,UniProtKB (pr...",1,4
5,15043,single nucleotide variant,NM_014630.3(ZNF592):c.3136G>A (p.Gly1046Arg),9640,ZNF592,HGNC:28986,Uncertain significance,0,"Jun 29, 2015",150829393,...,G,A,15q25.3,no assertion criteria provided,1,None,N,"OMIM Allelic Variant:613624.0001,UniProtKB (pr...",1,4
6,15044,single nucleotide variant,NM_017547.4(FOXRED1):c.694C>T (p.Gln232Ter),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Dec 07, 2017",267606829,...,C,T,11q24,"criteria provided, single submitter",2,None,N,OMIM Allelic Variant:613622.0001,3,5
7,15044,single nucleotide variant,NM_017547.4(FOXRED1):c.694C>T (p.Gln232Ter),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Dec 07, 2017",267606829,...,C,T,11q24.2,"criteria provided, single submitter",2,None,N,OMIM Allelic Variant:613622.0001,3,5
8,15045,single nucleotide variant,NM_017547.4(FOXRED1):c.1289A>G (p.Asn430Ser),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Oct 01, 2010",267606830,...,A,G,11q24,no assertion criteria provided,1,None,N,"OMIM Allelic Variant:613622.0002,UniProtKB (pr...",1,6
9,15045,single nucleotide variant,NM_017547.4(FOXRED1):c.1289A>G (p.Asn430Ser),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Oct 01, 2010",267606830,...,A,G,11q24.2,no assertion criteria provided,1,None,N,"OMIM Allelic Variant:613622.0002,UniProtKB (pr...",1,6

### Query cohort dataset

In [16]:
conn = connect(s3_staging_dir='s3://%s/results/variants/' % data_lake_bucket,region_name=region)
cursor = conn.cursor(work_group=work_group_name)
cursor.execute("SELECT * FROM " + database_name + ".onekg_chr22_by_sample WHERE sampleid LIKE 'NA12%' limit 10")
df = as_pandas(cursor)
df

,alternateallele,chromosome,endposition,genotype0,genotype1,referenceallele,sampleid,startposition
0,G,22,32726515,1,1,C,NA12748,32726514
1,G,22,32726515,0,1,C,NA12842,32726514
2,T,22,32726587,1,1,A,NA12044,32726586
3,T,22,32726587,1,1,A,NA12347,32726586
4,T,22,32726587,1,1,A,NA12775,32726586
5,G,22,32726606,1,1,A,NA12275,32726605
6,G,22,32726606,1,1,A,NA12748,32726605
7,G,22,32726606,1,1,A,NA12842,32726605
8,T,22,32726847,1,1,G,NA12144,32726846
9,T,22,32726847,1,1,G,NA12400,32726846

### Query individual variant dataset

In [17]:
conn = connect(s3_staging_dir='s3://%s/results/vcf/' % data_lake_bucket,region_name=region)
cursor = conn.cursor(work_group=work_group_name)
cursor.execute("SELECT * FROM " + database_name + ".vcf limit 10")
df = as_pandas(cursor)
df

,v.contig,v.start,v.ref,v.altalleles,va.rsid,va.qual,va.filters,va.info.end,va.info.blockavg_min30p3a,va.info.snvhpol,va.info.cigar,va.info.ru,va.info.refrep,va.info.idrep,va.info.mq
0,chr2,97211282,G,"[{ref=G, alt=T}]",None,5.0,"[LowDepth, LowGQX]",None,None,3,None,None,None,None,60.0
1,chr2,97211305,G,"[{ref=G, alt=T}]",None,11.0,"[LowDepth, LowGQX]",None,None,5,None,None,None,None,60.0
2,chr2,97211555,C,"[{ref=C, alt=A}]",None,338.0,[LowGQX],None,None,2,None,None,None,None,55.0
3,chr2,97211662,T,"[{ref=T, alt=C}]",None,369.0,[LowGQX],None,None,2,None,None,None,None,60.0
4,chr2,97211703,T,"[{ref=T, alt=C}]",None,247.0,[LowGQX],None,None,3,None,None,None,None,60.0
5,chr2,97217244,C,"[{ref=C, alt=A}]",None,0.0,[LowGQX],None,None,2,None,None,None,None,26.0
6,chr2,97217350,A,"[{ref=A, alt=G}]",None,0.0,[LowGQX],None,None,3,None,None,None,None,25.0
7,chr2,97217364,C,"[{ref=C, alt=A}]",None,0.0,[LowGQX],None,None,3,None,None,None,None,28.0
8,chr2,97243990,A,"[{ref=A, alt=G}]",None,24.0,[LowGQX],None,None,2,None,None,None,None,20.0
9,chr2,97244039,T,"[{ref=T, alt=C}]",None,12.0,[LowGQX],None,None,3,None,None,None,None,19.0